
<md-sidenav-container class="app-inner">
  <md-sidenav #sidemenu class="sidebar-panel" mode="side" id="sidebar-panel" opened align="start">
    <md-nav-list class="navigation">
      <md-list-item> <a (click)="hideAppDialog()" href="javascript:void(0);" routerLink='/orders/completed'>
        <md-icon>equalizer</md-icon>
        Completed Orders</a> </md-list-item>
      <md-list-item> <a (click)="showAppDialog()" href="javascript:void(0);" routerLink='/orders/inprogress'>
        <md-icon>face</md-icon>
        In Progress</a> </md-list-item>
    </md-nav-list>
  </md-sidenav>
  <div style="padding:10px;">
    <app-dialog-cancels *ngIf="cancelsDialog"></app-dialog-cancels>
    <app-dialog-rejects *ngIf="rejectsDialog"></app-dialog-rejects>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
