@import '~@ddeloy/dd-library/styles/app';



app-nested-menu {
  height: inherit;
  & > [md-button].mat-button:not(.mat-icon-button),
  & > [md-raised-button].mat-raised-button:not(.mat-icon-button) {
    height: inherit;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
    transition: background-color .3s;
    font-size: $default-item-font-size;
    font-weight: $font-weight-bold;
    color: $default-item-color;
    background-color: transparent;
    padding: 0 14px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    &.active {
      background-color: $default-hover-color;
    }
    &:hover, &.open {
      box-shadow: none;
      background-color: $default-hover-color;
      border-bottom-color: map-get($primary, 500);
      &.mat-primary {
        border-bottom-color: map-get($primary, 500);
      }
      &.mat-accent {
        border-bottom-color: map-get($accent, 500);
      }
      &.mat-warn {
        border-bottom-color: map-get($warn, 500);
      }
    }
    // &.btn-icon {
    //   span.mat-button-wrapper {
    //     font-family: 'Material Icons';
    //     font-weight: normal;
    //     font-style: normal;
    //     letter-spacing: normal;
    //     text-transform: none;
    //     white-space: nowrap;
    //     word-wrap: normal;
    //     direction: ltr;
    //     -webkit-font-feature-settings: 'liga';
    //     -webkit-font-smoothing: antialiased;
    //     font-size: 20px;
    //     width: 20px;
    //     height: 20px;
    //     vertical-align: middle;
    //   }
    // }
    &.btn-user {
      padding: 0 8px;
      span.mat-button-wrapper {
        color: #ffffff;
        font-size: $default-item-font-size;
        vertical-align: baseline;
        padding: 8.5px 8px;
        border-radius: 50%;
        background-color: mat-color($accent, 400);
      }
    }
  }
}

app-nested-menu [md-button] {
  z-index: 1001;
  line-height: 64px;
  color: #fff;
}

md-toolbar.main-header {
  padding: 0 8px;
  position: relative;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

md-toolbar.secondary-header {
  padding: 0 8px;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.sidenav-container {
  border: none;
}

.sidenav-select {
  margin-left: 15px;
  margin-top: 30px;
  padding-right:10px;
}

.sidenav-content {
  padding:75px 15px 15px 15px ;
}

.fixed-position {
  position:fixed !important;
}

.app-inner {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 64px);
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
