<md-card>
  <md-card-content>
    <md-card-title>Toolbar with custom menu component: &lt;top-menu>&lt;/top-menu></md-card-title>
    <p><strong>The model and template are included in the package globally. No need to add any import to use.</strong></p>
    <p><strong>New: </strong>Dynamic Routing - See Demo Site for documentation. Links are active under 'Orders' dropdown.</p>
    <strong>Toolbar from 'menu' page on sample site: HTML Markup:</strong>
   <pre>
   &lt;md-toolbar color="default">
      &lt;!-- if you don't set a color - your toolbar with be 'flat' -->
      &lt;!-- Set class="main-header" for a position:fixed toolbar like used in demo site -->
      &lt;top-menu [color]="color" [items]="customItems">&lt;/top-menu>
   &lt;/md-toolbar>
   </pre>
     <br/>
    <strong>Toolbar markup more custom 'toolbar' page on sample site: HTML Markup</strong>
    <p><strong>Note: </strong>Right menu items are not active. Please see the sample site for documentation on this.</p>
    <pre>
    &lt;md-toolbar>
      &lt;!-- You don't want to set a toolbar color here - or you will lose overall styling -->
      &lt;a href="#" class="brand-logo">Logo&lt;/a>
      &lt;top-menu [color]="color" [items]="customItems">&lt;/top-menu>
      &lt;span fxFlex>&lt;/span>
      &lt;button md-button href="#" md-icon-button color="primary">
        &lt;md-icon>apps&lt;/md-icon>
      &lt;/button>
      &lt;button md-button href="#" class="btn-user" md-icon-button>
        &lt;span>KJ&lt;/span>
      &lt;/button>
      &lt;button md-button href="#" class="btn-notification" md-icon-button color="primary">
        &lt;md-icon>notifications_none&lt;/md-icon>
        &lt;span class="badge">2&lt;/span>
      &lt;/button>
    &lt;/md-toolbar>
    </pre>
    <md-toolbar>
    <a href="#" class="brand-logo">Logo</a>
    <app-nested-menu [color]="color" [items]="toolbarItems"></app-nested-menu>
    <span fxFlex></span>
    <button md-button href="#" md-icon-button color="primary">
      <md-icon>apps</md-icon>
    </button>
    <button md-button href="#" class="btn-user" md-icon-button>
      <span>KJ</span>
    </button>
    <button md-button href="#" class="btn-notification" md-icon-button color="primary">
      <md-icon>notifications_none</md-icon>
     <span class="badge">2</span>
    </button>
    </md-toolbar>
  <br/>
    <p><strong>The TypeScript for both:</strong> See sample site for updated array options.</p>
  <pre>
  <strong>Add the code below to the TypeScript in component where you want to use the top-menu.
  The structure should be pretty self explanatory.</strong> <br/>
  /* Custom menu structure */
  /* Dynamic linking */
  customItems = [ // use whatever name you like
    &#123;
      text: 'Orders',
      items: [
        &#123;
          text: 'Basic',
          extraText: 'Ctrl+O' // shows to right
          link: 'basic'
        },
        &#123;
          text: 'New',
          icon: 'arrow_right',
          items: [
            &#123;
              text: 'Secondary',
              link: 'secondary'
            },
           &#123;
              text: 'New',
              icon: 'arrow_right',
              items: [
                &#123;
                  text: 'New',
                  icon: 'arrow_right',
                  items: [
                    &#123;
                      text: 'Document'
                    },
                    &#123;
                      text: 'Spreadsheet'
                    }
                  ]
                },
                &#123;
                  text: 'Document',
                  icon: 'arrow_right',
                  items: [
                    &#123;
                      text: 'Document 1'
                    },
                    &#123;
                      text: 'Document 2'
                    }
                  ]
                }
              ]
            },
            &#123;
              text: 'Spreadsheet'
            },
            &#123;
              text: 'Presentation',
              icon: 'arrow_right',
              items: [
                &#123;
                  text: 'New',
                  icon: 'arrow_right',
                  items: [
                    &#123;
                      text: 'Document'
                    },
                    &#123;
                      text: 'Spreadsheet'
                    }
                  ]
                }
              ]
            },
            &#123;
              text: 'Form'
            }
          ]
        },
        &#123;
          divider: true
        },
        &#123;
          text: 'Wijmo',
          link: 'wijmo'
          // could show keyboard command - or whatever we want extraText: 'Ctrl+O'
        },
        &#123;
          text: 'Rename',
          disabled: true
        },
        &#123;
          divider: true
        },
        &#123;
          text: 'Home',
          link: ' '
          // extraText: 'Ctrl+P'
        }
      ]
    },
    &#123;
      text: 'File',
      items: [
        &#123;
          isCategory: true,
          text: 'File',
          items: [&#123;
            text: 'New'
          }, &#123;
            text: 'Save'
          }, &#123;
            text: 'Save As',
            icon: 'arrow_right',
            items: [
              &#123;
                text: 'Print layout'
              },
              &#123;
                text: 'Mode'
              },
              &#123;
                divider: true
              },
              &#123;
                text: 'Full screen'
              },
            ]
          }]
        },
        &#123;
          isCategory: true,
          text: 'Other Action',
          items: [&#123;
            text: 'Delete'
          }, &#123;
            text: 'Exit'
          }]
        }
      ]
    },
    &#123;
      text: 'Edit',
      items: [
        &#123;
          isCategory: true,
          text: 'Action',
          items: [&#123;
            text: 'Undo'
          }, &#123;
            text: 'Redo'
          }, &#123;
            text: 'Revert to Original'
          }]
        },
        &#123;
          isCategory: true,
          text: 'Content',
          items: [&#123;
            text: 'Copy'
          }, &#123;
            text: 'Paste'
          }, &#123;
            text: 'Select All'
          }]
        },
        &#123;
          isCategory: true,
          text: 'Other Actions',
          items: [&#123;
            text: 'Delete'
          }, &#123;
            text: 'Delete All'
          }, &#123;
            text: 'Highlight All'
          }]
        }
      ]
    },
    &#123;
      text: 'View',
      items: [
        &#123;
          text: 'Print layout'
        },
        &#123;
          text: 'Mode',
          icon: 'arrow_right',
          items: &#123;
            &#123;
              text: 'Presentation'
            },
            &#123;
              text: 'Edit'
            },
            &#123;
              text: 'Modifiable'
            }
          ]
        },
        &#123;
          divider: true
        },
        &#123;
          text: 'Full screen'
        },
      ]
    },
  ];

  select(text: string) &#123;
    this.selected = text;
  }
    </pre>


  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <md-card-title>Slider Panel - with Menu</md-card-title>
    <p><strong>Added as a custom component to Library</strong></p>
    <strong>In my home.component.ts (or whatever component you want to use slider panel with menu).:</strong>
    <pre>
       <strong>import &#123; SidenavMenuItem } from '@ddeloy/dd-library';</strong>
       <strong>Define the menuItems array (based on the following structure) for use in the markup</strong>
        menuItems = [
        new SidenavMenuItem('Settings', 'User Management', ' ', ' ', [
        new SidenavMenuItem(' ', 'Company Settings', ' ', ' ', null),
        new SidenavMenuItem(' ', 'User Management', ' ', ' ', null),
        new SidenavMenuItem(' ', 'Shared Settings', ' ', ' ', null)
        ]),
        new SidenavMenuItem(' ', 'Users', ' ', ' ', null),
        new SidenavMenuItem(' ', 'Non-employee access', ' ', ' ', null),
        new SidenavMenuItem(' ', 'Roles', ' ', ' ', null),
        new SidenavMenuItem(' ', 'Data Access Groups', ' ', ' ', null)
        ];
        </pre>
    <strong>Then the markup to create the example below would look like this:</strong>
    <pre>
        &lt;md-toolbar color="primary">&lt;/md-toolbar>
        &lt;md-sidenav-container class="sidenav-container">
          &lt;md-sidenav class="sidenav-menu" mode="side" opened align="start">
            &lt;ul>
              &lt;sidenav-item *ngFor="let menuItem of menuItems" [menuItem]="menuItem">&lt;/sidenav-item>
            &lt;/ul>
          &lt;/md-sidenav>
          &lt;div class="sidenav-content">
            Content goes here
          &lt;/div>
        &lt;/md-sidenav-container>
      </pre>
    <md-toolbar color="primary"></md-toolbar>
    <md-sidenav-container class="sidenav-container">
      <md-sidenav class="sidenav-menu" mode="side" opened align="start">
        <ul>
          <sidenav-item *ngFor="let menuItem of menuItems" [menuItem]="menuItem"></sidenav-item>
        </ul>
      </md-sidenav>
      <div class="sidenav-content"> <strong>Slider Panel Content</strong>
        <p>The left side panel has a side item component that ...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut libero magna, fermentum ut arcu ac, tempor auctor diam. Morbi facilisis ultrices sem posuere varius. Aliquam erat volutpat.</p>
        <p>Duis convallis orci vitae iaculis mollis. Ut aliquet sagittis mi id blandit. Nullam quis odio vitae ante vulputate cursus. Morbi venenatis scelerisque tortor. Donec lacinia porta lorem ac lobortis. Vivamus egestas porta sem ac accumsan. Integer libero turpis, elementum et feugiat sit amet, scelerisque eget elit. Nulla porttitor vehicula orci, eu molestie quam consectetur nec. Maecenas nec quam porta, mattis nibh non, pellentesque massa. Donec elit arcu, maximus et sodales ut, eleifend ut tortor. Cras posuere est ac mauris faucibus dictum.
          Phasellus a suscipit nulla. In at malesuada justo. Fusce ut sapien porta, auctor tellus eleifend, ultrices mi.</p>
        <p>Donec aliquet mollis risus tincidunt vestibulum. Nunc semper mattis nisi, non bibendum lectus. Cras accumsan augue dui, ut tincidunt orci pharetra auctor. In suscipit, mi vel faucibus consectetur, dui nibh pulvinar dui, vitae bibendum metus quam vitae ante. Nunc aliquam felis at mauris elementum, eleifend congue purus malesuada. Cras laoreet ipsum vitae orci condimentum, eu mattis mauris tincidunt. Nulla ultrices, libero maximus iaculis egestas, lacus dolor lobortis est, nec eleifend mi diam scelerisque mauris. Quisque rutrum malesuada dui, eu laoreet tortor hendrerit a.
          Quisque interdum ipsum a mauris molestie tempus.</p>
        <p>Duis convallis orci vitae iaculis mollis. Ut aliquet sagittis mi id blandit. Nullam quis odio vitae ante vulputate cursus. Morbi venenatis scelerisque tortor. Donec lacinia porta lorem ac lobortis. Vivamus egestas porta sem ac accumsan. Integer libero turpis, elementum et feugiat sit amet, scelerisque eget elit. Nulla porttitor vehicula orci, eu molestie quam consectetur nec. Maecenas nec quam porta, mattis nibh non, pellentesque massa. Donec elit arcu, maximus et sodales ut, eleifend ut tortor. Cras posuere est ac mauris faucibus dictum.
          Phasellus a suscipit nulla. In at malesuada justo. Fusce ut sapien porta, auctor tellus eleifend, ultrices mi.</p>
        <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
          <md-input-container class="ml-xs mr-xs">
            <input mdInput placeholder="Name" type="text">
          </md-input-container>
          <md-input-container floatplaceholder="auto" class="ml-xs mr-xs">
            <input mdInput placeholder="Email" type="email">
          </md-input-container>
        </div>
        <p>
          <button md-raised-button color="primary">Some Button</button>
        </p>
      </div>
    </md-sidenav-container>
  </md-card-content>
</md-card>



  <md-card>
  <md-card-title> <h3>I am the Home Component</h3></md-card-title>
  <md-card-subtitle>I am imported at root module level</md-card-subtitle>
  <md-card-content>
    <p>I need to be imported at root level to have access to md-modules. If we want to take advantage of Lazy Loading,
      we will need to break out components and only import md-modules that are being used. This will also reduce overall footprint.
    Note: Presently our Library Module imports 'all' md-modules. Note*: Material design is going to be deprecating the wild card 'MaterialModule' - which
    automatically pulls in everything material. So, in any event, we will need to refactor at some point.</p>
    <p><strong>Input: Floating placeholder spacing fixed</strong></p>

    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
      <md-input-container class="ml-xs mr-xs" style="width: 100%;">
        <input mdInput placeholder="Default With Floating Label" type="text">
      </md-input-container>
      <md-input-container class="compact ml-xs mr-xs" style="width: 100%;">
        <input mdInput placeholder="Compact With Floating Label" type="text">
      </md-input-container>
    </div>
    <p>I have put some basic routing in place at the 'root' level. I'll be adding Wijmo as a separate 'Feature Module' and it will be Lazy loaded on demand.</p>
    <div>
    <strong>app.routes.ts</strong><br/>
    import  &#123;Routes,RouterModule} from "@angular/router";<br/>
    import  &#123;HomeComponent} from "./home/home.component";<br/>
    import  &#123;BasicComponent} from "./basic/basic.component";<br/>
    import  &#123;SecondaryComponent} from "./secondary/secondary.component";<br/>
    import  &#123;OtherComponent} from "./other/other.component";<br/><br/>

    const APP_ROUTES = [<br/>
    &#123;path:'', component: HomeComponent}, // This needs to be imported and declared in app.module.ts in order to have access to md-modules<br/>
    &#123;path: 'basic', component: BasicComponent} // // This needs to be imported and declared in app.module.ts in order to have access to md-modules<br/>
    &#123;path: 'secondaryr', component: SecondaryComponent} // // This needs to be imported and declared in app.module.ts in order to have access to md-modules<br/>
    &#123;path: 'other', component: OtherComponent} // // This needs to be imported and declared in app.module.ts in order to have access to md-modules<br/>
    &#123;path: 'wijmo', loadChildren: 'app/wijmo/wijmo.module#WijmoModule'} // This is a feature module - notice no import here and no import in app.module.ts.<br/>
     It has a separate directory and routing file - only imports dependencies it needs. And is loaded on demand. The wijmo routing ts file is imported by the WijmoModule.<br/>
     This is not implemented yet - but once in place I will document the structure.<br/>
    ]<br/><br/>

    export const routing = RouterModule.forRoot(APP_ROUTES, &#123;useHash:true}); // routing const is imported in app.module.ts<br/>

      <br/>
      <strong>app.component.ts</strong><br/>
      Dynamic Routing<br/>
      navs = [<br/>
      &#123;url: "", content: "Home"},<br/>
      &#123;url: "basic", content: "Basic"}<br/>
      &#123;url: "secondary", content: "Secondary"},<br/>
      &#123;url: "other", content: "Other"}<br/>
      ];
    </div>
    <br/>
    <div>
       <strong>app.component.html</strong><br/>
       To get layout like sample site and like I have in this npm demo - just drop in the markup below (nav routing optional).<br/><br/>
       &lt;md-toolbar class="main-header" color="primary"> &lt;/md-toolbar><br/>
       &lt;md-sidenav-container class="app-inner"><br/>
          &lt;md-sidenav #sidemenu class="sidebar-panel sidebar-menu-panel"  mode="side" opened><br/>
          <strong>You can do your own thing with the nav </strong><br/>
            &lt;md-nav-list class="navigation"><br/>
            &lt;md-list-item<br/>
                *ngFor="let nav of navs"<br/>
                [routerLink]="nav.url"<br/>
                routerLinkActive="active"<br/>
               [routerLinkActiveOptions]="&#123;exact:true}"><br/>
      &lt;a>&#123;&#8203;&#123;nav.content}&#8203;}&lt;/a><br/>
      &lt;/md-list-item><br/>
            &lt;/md-nav-list><br/>
          &lt;/md-sidenav><br/>
          &lt;router-outlet>&lt;/router-outlet><br/>
        &lt;/md-sidenav-container><br/>
        </div>
  </md-card-content>
</md-card>
