<ng-container *ngFor="let item of items">
  <!-- (mousedown)="openMenu(trigger, 1) this can be (mouseover) if hover effect is desired -->
  <button md-raised-button [color]="color" [mdMenuTriggerFor]="menu" #trigger="mdMenuTrigger"
          [attr.data-level]="1" (mousedown)="openMenu(trigger, 1, $event)"
          (onMenuOpen)="onMenuOpen(trigger, item.items)" [ngClass]="item.class">
    <md-icon *ngIf="item.leftIcon">{{item.leftIcon}}</md-icon>
    {{item.text}}
    <md-icon *ngIf="item.rightIcon">{{item.rightIcon}}</md-icon>
  </button>
  <md-menu class="custom-menu {{item.menuClass}}" #menu="mdMenu" [overlapTrigger]="false" (close)="closeMenu()" xPosition="after">
    <ng-container *ngTemplateOutlet="subMenu; context: { $implicit: item.items, level: 2 }"></ng-container>
  </md-menu>
</ng-container>

<ng-template #subMenu let-items let-level="level">
  <ng-container *ngFor="let item of items">
    <ng-container *ngIf="item.isCategory else subMenuItems">
      <div class="menu-category-wrap">
        <span class="menu-category">{{item.text}}</span>
        <ng-container *ngFor="let item of item.items">
          <!-- Use new *ngIf which includes 'else' clause -->
          <ng-container *ngIf="item.items && item.items.length else simpleTmpl">
            <button *ngIf="!item.divider && !item.isCategory" md-menu-item [disabled]="item.disabled"
                    [mdMenuTriggerFor]="menu"
                    #trigger="mdMenuTrigger"
                    [attr.data-level]="level"
                    (mouseenter)="openMenu(trigger, level);" (click)="$event.stopPropagation()">
              <md-icon *ngIf="item.leftIcon">{{item.leftIcon}}</md-icon>
              <span>{{item.text}}</span>
              <!-- item.extraText is in the menu.component.ts and allows for us to add extra text positioned to the right of each menu item -->
              <span *ngIf="item.extraText" class="menu-extra-text">{{item.extraText}}</span>
              <md-icon *ngIf="item.rightIcon">{{item.rightIcon}}</md-icon>
            </button>
            <md-menu class="sub-menu-custom" #menu="mdMenu" [overlapTrigger]="false" xPosition="before" >
              <ng-container *ngTemplateOutlet="subMenu; context: { $implicit: item.items || [], level: level + 1 }"></ng-container>
            </md-menu>
            <md-divider *ngIf="item.divider" class="mat-divider"></md-divider>
          </ng-container>
          <ng-template #simpleTmpl>
         <!-- If want to use as a Library Component - need to use href and useHash:true for it to work -->
         <!--   <a href="#/{{item.link}}" *ngIf="!item.divider && !item.isCategory" md-menu-item [disabled]="item.disabled" (click)="closeMenu()"> -->
            <button *ngIf="!item.divider && !item.isCategory" md-menu-item [disabled]="item.disabled" [routerLink]="item.link" (click)="closeMenu()">
              <md-icon *ngIf="item.leftIcon">{{item.leftIcon}}</md-icon>
              <span>{{item.text}}</span>
              <span *ngIf="item.extraText" class="menu-extra-text">{{item.extraText}}</span>
              <md-icon *ngIf="item.rightIcon">{{item.rightIcon}}</md-icon>
            </button>
            <!-- </a> -->
            <md-divider *ngIf="item.divider" class="mat-divider"></md-divider>
          </ng-template>
        </ng-container>
      </div>
    </ng-container>

    <ng-template #subMenuItems>
      <!-- Use new *ngIf which includes 'else' clause -->
      <ng-container *ngIf="item.items && item.items.length else simpleTmpl">
        <button *ngIf="!item.divider && !item.isCategory" md-menu-item [disabled]="item.disabled"
                [mdMenuTriggerFor]="menu"
                #trigger="mdMenuTrigger"
                [attr.data-level]="level"
                (mouseenter)="openMenu(trigger, level);" (click)="$event.stopPropagation()">
          <md-icon *ngIf="item.leftIcon">{{item.leftIcon}}</md-icon>
          <span>{{item.text}}</span>
          <!-- item.extraText is in the menu.component.ts and allows for us to add extra text positioned to the right of each menu item -->
          <span *ngIf="item.extraText" class="menu-extra-text">{{item.extraText}}</span>
          <md-icon *ngIf="item.rightIcon">{{item.rightIcon}}</md-icon>
        </button>
        <md-menu class="sub-menu-custom" #menu="mdMenu" [overlapTrigger]="false" xPosition="before" >
          <ng-container *ngTemplateOutlet="subMenu; context: { $implicit: item.items || [], level: level + 1 }"></ng-container>
        </md-menu>
        <md-divider *ngIf="item.divider" class="mat-divider"></md-divider>
      </ng-container>
      <ng-template #simpleTmpl>
        <!-- If want to use as a Library Component - need to use href and useHash:true for it to work -->
        <!--  <a href="#/{{item.link}}" *ngIf="!item.divider && !item.isCategory" md-menu-item [disabled]="item.disabled"  (click)="closeMenu()"> -->
        <button *ngIf="!item.divider && !item.isCategory" md-menu-item [disabled]="item.disabled" [routerLink]="item.link"  (click)="closeMenu()">
          <md-icon *ngIf="item.leftIcon">{{item.leftIcon}}</md-icon>
          <span>{{item.text}}</span>
          <span *ngIf="item.extraText" class="menu-extra-text">{{item.extraText}}</span>
          <md-icon *ngIf="item.rightIcon">{{item.rightIcon}}</md-icon>
        </button>
        <!-- <a/> -->
        <md-divider *ngIf="item.divider" class="mat-divider"></md-divider>
      </ng-template>
    </ng-template>
  </ng-container>
</ng-template>

